---
layout: default
---
<div class="blurp">
  <div>Search for your favourite episode and don't forget to subscribe to our podcast on <a href="https://podcasts.apple.com/nl/podcast/null-pointers/id1512641994" target="_blank">iTunes</a>, Google Music, <a href="https://pca.st/podcast/7f97b040-74ca-0138-eddb-0acc26574db2" target="_blank">PocketCast</a>, Overcast, <a href="https://open.spotify.com/show/6X2km5VppEVYIdVjExWlgt?si=x3be9oJZRYKjfDxp_tTPhQ" target="_blank">Spotify</a> or wherever you get your favourite podcasts from. And don't forget to leave us <a href="https://twitter.com/nullpointersio" target="_blank">a comment or just say hi via Twitter</a>  or Email.</div>
</div>

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
