<h2>Listen now</h2>
<audio controls="" preload="auto" style=" width:600px;margin: 0 auto; display: block;">
	<source src="{{ page.file }}" type="{{ page.file_type }}">
	Your browser does not support the audio element. Go find this episode on your favorite podcat platform.
</audio>

<!--<div id="playback">
	<div class="container">
		<audio id="music" preload="true">
			<source src="{{ page.file }}" type="{{ page.file_type }}">
			Your browser does not support the audio element.
		</audio>
	
		<div id="audioplayer">
			<button id="pButton" class="play"></button>	
			<div id="timeline">
				<div id="playhead"></div>
				<div id="start">00:00</div>
				<div id="end">
				    {% if page.duration %}
				      	{{ page.duration }}
				    {% else %}
				      	--:--
				    {% endif %}
				</div>
			</div>				
		</div>
	</div>
</div>-->